@font-face {
    font-family: norwayRound;
    src: url(NowayRound-Regular.otf) format("opentype");
}

html, body {
    font-family: norwayRound, sans-serif;
}

a:visited, a {
    color: black;
}

a.standardClickable, .standardClickable {
    background-color: #f7931d;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 10px 13px 10px;
    margin: 1px;
    border: none;
}

.standardClickable:hover {
    background-color: #f7911dc7;
    color: black;
}

#mainLogo img {
    width: 50px;
}

#mainLogo {
    text-align: center;
}